@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
}

/* Header */
.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    margin: 0;
}

.header-logo {
    width: 20%;
    padding-top: 35px;
    padding-left: 0;
}

.header-text {
    width: 80%;
    padding-right: 10px;
}

.name {
    font-weight: 100;
}

/* Content */
.content {
    padding: 10px;
    padding-bottom:60px;
    overflow: hidden;
}

hr {
    margin-top: 5px;
    border: 1px solid #bcbbbb;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projects-header {
    color: #bcbbbb;
    padding-left: 8px;
    margin-top: 15px;
}

.projects-section {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.project1,
.project2,
.project3 {
    width: 33.33%;
}

.project-title{
    margin-top: 10px;
    margin-bottom: 0;
}

.project-link {
    color: #747704;
    padding-top: 5px;
    margin-bottom: 15px;
}

/* Footer */
.section-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.hor-rule {
    margin-right: auto;
}

.social {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-wrap: wrap;
}

.twitter,
.linkedin,
.github {
    width: 33.33%;
}

/*Media Queries*/
@media screen and (max-width: 359px) {
    /* Header */
    .header-logo {
        padding-top: 35px;
    }

    .header-text {
        padding-top: 15px;
    }

    .name {
        font-size: 18px;
    }

    .title {
        font-size: 11px;
    }

    /* Content */
    .projects-header,
    .project-title {
        font-size: 16px;
    }

    .project-link {
        font-size: 9px;
    }
}

@media screen and (min-width: 360px) {
    /* Header */
    .header-text {
        padding-top: 20px;
    }

    .name {
        font-size: 20px;
    }

    .title {
        font-size: 13px;
    }

    /* Content */
    .projects-header,
    .project-title {
        font-size: 18px;
    }

    .project-link {
        font-size: 11px;
    }
}

@media screen and (min-width: 400px) {
    /* Header */
    .header-text {
        padding-top: 15px;
    }

    .name {
        font-size: 22px;
    }

    .title {
        font-size: 13px;
    }

    /* Content */
    .projects-header,
    .project-title {
        font-size: 18px;
    }

    .project-link {
        font-size: 11px;
    }
}

@media screen and (min-width: 451px) {
    /* Header */
    .header-text {
        padding-top: 15px;
    }

    .name {
        font-size: 25px;
    }

    .title {
        font-size: 15px;
    }

    /* Content */
    .projects-header,
    .project-title {
        font-size: 20px;
    }

    .project-link {
        font-size: 11px;
    }
}

@media screen and (min-width: 501px) {
    /* Header */
    .header-text {
        padding-top: 15px;
    }

    .name {
        font-size: 30px;
    }

    .title {
        font-size: 17px;
    }

    /* Content */
    .projects-header,
    .project-title {
        font-size: 22px;
    }

    .project-link {
        font-size: 11px;
    }
}

@media screen and (min-width: 561px) {
    /* Header */
    .header-text {
        padding-top: 15px;
    }

    .name {
        font-size: 34px;
    }

    .title {
        font-size: 18px;
    }

    /* Content */
    .projects-header,
    .project-title {
        font-size: 24px;
    }

    .project-link {
        font-size: 12px;
    }
}

@media screen and (min-width: 600px) {
    /* Body */
    .container {
        min-height: 100%;
        position: relative;
    }
}

@media screen and (min-width: 605px) {
    /* Header */
    .header-text {
        padding-top: 18px;
        text-align: right;
    }

    .udacity-logo {
        width: 100px;
    }
}

@media screen and (min-width: 650px) {
    /* Header */
    .header-text {
        padding-top: 25px;
    }

    .header-logo {
        padding-top: 45px;
    }
}

@media screen and (min-width: 700px) {
    /* Header */
    .header-text {
        padding-top: 30px;
    }

    .name {
        font-size: 40px;
    }

    .title {
        font-size: 18px;
    }

    /* Content */
    .projects-header,
    .project-title {
        font-size: 30px;
    }

    .project-link {
        font-size: 13px;
    }

    /* Footer */
    .social {
        width: 700px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 959px) {
    /* Body */
    .container {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Header */
    .header-text {
        padding-top: 20px;
        margin-left: 70px;
    }

    .header-logo {
        width: 114px;
    }

    .name {
        font-size: 50px;
    }

    .title {
        font-size: 22px;
    }

    /* Content */
    .projects-header,
    .project1,
    .project2,
    .project3 {
        font-size: 30px;
    }

    .project-link {
        font-size: 14px;
    }
}